@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Variables */
:root {
    --space-divs-left: 70px;
    --space-divs-top: 30px;
    --space-divs-bottom: 30px;
    --color-bg: #0d1117;
    --color-text: #d6dde4;
}

/* General Styling */
* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Tags styling */
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    min-height: 100vh;
    display: flex;
}
h1 {
    margin-bottom: var(--space-divs-bottom);
}
input {
    font-size: 1.3rem;
}
a {
    text-decoration: none;
}

/* Cover image styling */
.cover-image {
    background-image: url(./media/cover-img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 40vw;
}

/* Form styling */
form {
    background-color: var(--color-bg);
    padding-top: var(--space-divs-top);
    padding-bottom: var(--space-divs-bottom);
    padding-left: var(--space-divs-left);
}
.form-fields {
    /* padding: 75px; */
    width: 500px;
    /* Make this div fill the rest of the empty space */
    flex: 1 1 auto;
    /* Flex properties */
    display: flex;
    /* Center the div vertically */
    flex-direction: column;
    justify-content: center;
}
.form-fields form div {
    margin-bottom: 10px;
    display: flex;
}
.form-description {
    padding-left: var(--space-divs-left);
    padding-right: var(--space-divs-left);
}
.form-description p {
    font-weight: 600;
    font-size: 1.3rem;
}
.input-group div {
    margin-right: 75px;
    display: flex;
    flex-direction: column;
}
.form-description {
    margin-bottom: 150px;
}
.buttons {
    margin-top: 50px;
}
.btn-submit {
    border-radius: 7px;
    padding: 15px 30px;
}
