@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Dots&display=swap');

/* Variables */
:root {
    --space-divs-top: 30px;
    --space-divs-right: 200px;
    --space-divs-bottom: 30px;
    --space-divs-left: 70px;
    --color-bg: black;
    --color-text-main: #8ddb8f;
    --color-text-neutral: rgb(221, 221, 221);
    --color-border-input: rgb(155, 155, 155);
}

/* General Styling */
* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Tags styling */
body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    min-height: 100vh;
    display: flex;
}
h1 {
    margin-bottom: var(--space-divs-bottom);
}
input {
    background-color: var(--color-bg);
    color: var(--color-text-neutral);
    height: 40px;
    width: 400px;
    border: 1px solid var(--color-border-input);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    color: var(--color-text-neutral);
    font-weight: 900;
}

/* Cover image styling */
.cover-image {
    background-image: url(./media/cover-img.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stripe {
    height: 200px;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.stripe img {
    height: 100px;
}
.stripe span {
    color: white;
    font-family: 'Zen Dots', cursive;
    margin-left: 50px;
    font-size: 4rem;
}

/* Form styling */
form {
    background-color: var(--color-bg);
    padding-top: var(--space-divs-top);
    padding-bottom: var(--space-divs-bottom);
    padding-left: var(--space-divs-left);
}
.form-fields {
    color: var(--color-text-neutral);
    width: 500px;
    /* Make this div fill the rest of the empty space */
    flex: 1 1 auto;
    /* Flex properties */
    display: flex;
    /* Center the div vertically */
    flex-direction: column;
    justify-content: center;
}
.form-fields h1, .form-fields p {
    color: var(--color-text-main);
}
.form-fields form div {
    margin-bottom: 10px;
    display: flex;
}
.form-description {
    margin-bottom: 100px;
    padding-left: var(--space-divs-left);
    padding-right: var(--space-divs-right);
}
.form-description p {
    color: var(--color-text-neutral);
    font-weight: 550;
    font-size: 1.2rem;
}
.input-group div {
    margin-right: 75px;
    display: flex;
    flex-direction: column;
}
.buttons {
    margin-top: 50px;
}
.btn-submit {
    background-color: transparent;
    color: var(--color-text-main);
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 20px 50px;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid var(--color-text-main);
}
.buttons + p {
    font-size: 0.95rem;
}

input:focus {
    outline: none;
}
.btn-submit:hover {
    background-color: var(--color-text-main);
    color: var(--color-bg);
}
